{
	"type": 217605841,
	"mExtensions": 	{
		"mShaderInt16": 0,
		"mTesselerationShader": 0,
		"type": 624149665,
		"mShaderCullDistance": 0,
		"mCubeArray": 0,
		"mLogicOp": 0,
		"mGeometryShader": 1,
		"mSampleRateShading": 0,
		"mDualSrcBlend": 0,
		"mDepthClamp": 0,
		"mDepthBiasClamp": 0,
		"mPolygonModeNonSolid": 2,
		"mDepthBounds": 0,
		"mAlphaToOne": 0,
		"mMultiViewport": 2,
		"mSamplerAnisotropy": 2,
		"mShaderClipDistance": 0,
		"mShaderFloat64": 0,
		"mShaderInt64": 0,
		"mShaderResourceMinLOD": 0,
		"mVariableMultiSamplingRate": 0
	},
	"mViewport": 	{
		"type": 2179902483,
		"mExtent": 		{
			"type": 2248410781,
			"mX": 16,
			"mY": 16
		},
		"mTitle": "Game"
	}
}