# Custom files
*.spv
log

# CMake Install
[Ii]nstall/
[Ii]ntermediate/
[Tt]emp/
[Dd]ocs/
[Ll]ib/
test-*/
Debug/*
Release/*

# Visual Studio 2015 cache/options directory
.vs/
*.dll
*.lib
*.ilk
*.exe
*.pdb
*.manifest

!glslangValidator.exe
