{
	"type": 2278795064,
	"mLayerNames": [
		{
			"key": 1,
			"value": "default"
		},
		{
			"key": 2,
			"value": "goal"
		},
		{
			"key": 4,
			"value": "key"
		},
		{
			"key": 128,
			"value": ""
		},
		{
			"key": 64,
			"value": ""
		},
		{
			"key": 32,
			"value": ""
		},
		{
			"key": 16,
			"value": ""
		},
		{
			"key": 8,
			"value": ""
		}
	],
	"mLayerFilters": [
		{
			"key": 1,
			"value": 253
		},
		{
			"key": 2,
			"value": 4
		},
		{
			"key": 4,
			"value": 7
		},
		{
			"key": 128,
			"value": 255
		},
		{
			"key": 64,
			"value": 255
		},
		{
			"key": 32,
			"value": 255
		},
		{
			"key": 16,
			"value": 255
		},
		{
			"key": 8,
			"value": 255
		}
	]
}